.signup_container{
    background-image: url(/images/cover/signup.jpg);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.signup_content{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.signup_head{
    color: white;
    font-size: 2.5rem;
}

.signup_para{
    color:#FFCB42;
    margin-top: -1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.signup_input{
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
    width: 35%;
    height: 17%;
}

 input{
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 1rem;
    font-size: 1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.signup_btn {
    width: 27%;
    height: 106%;
    border: none;
    outline: none;
    background-color: #319DA0;
    font-size: 1rem;
    color: white;
    font-weight: 700;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

@media screen and (max-width: 1100px) {
    .signup_container{
        height: 40vh;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    .signup_content{
        justify-content: center;
        align-items: center;
    }

    .signup_input{
        width: 50%;
    }

    .signup_input input{
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .signup_content h2{
      font-size: 2.5rem;
    }

    .signup_content p{
        font-size: 1rem;
        width: 100%;
        margin: 0 auto;
    }

    .signup_input{
        width: 70%;
    }
}

@media screen and (max-width: 600px) {

    .signup_container{
        height: 40vh;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        padding: 1rem;
    }

    .signup_content h2{
        font-size: 2rem;
    }

    .signup_content p{
        font-size: 0.8rem;
    }

    .signup_input{
        width: 100%;
        margin: 0 auto;
    }

    .signup_input input, .signup_input button{
        height: 5vh;
    }   

    .signup_btn{
        font-size: 0.8rem;
    }
}