.contact{
    background-image: url(/images/cover/contactus.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    height: 80vh;
    width: 60%;
    border-radius: 20px;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: 1px solid rgb(200, 196, 196);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
    padding: 2rem;
}

.contact_btn{
    margin-left: 2rem;
   width: 8%;
   height: 9.5vh;
   border-radius: 50%;
   border:none;
   outline: none;
   font-size: 5rem;
   color: #95A6FE;
   cursor: pointer;
   margin-top: 2rem;
}

.contact-info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 70vh;
    margin: auto;
    border: 1px solid rgb(200, 196, 196);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
    margin-top: 3rem;
    margin-bottom: 5rem;
    border-radius: 20px;
    padding: 2rem;
    gap: 3rem;
}

.contact_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    /* border: 2px solid red; */
    width: 110%;
}

.contact_details h1{
    color: #5e79fc;
}

.contact_details p{
    font-size: 1.1rem;
}

.contact_form{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
   height: 59vh;
   gap: 1rem;
}

.contact_form  input{
    border: 1px solid rgb(200, 196, 196);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
    border-radius: 10px;
    width: 100%;
    height: 5vh;
}

.contact_form textarea{
    border: 1px solid rgb(200, 196, 196);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
    border-radius: 10px;
    width: 100%;
    outline: none;
    padding: 0.5rem;
}

.btn{
    width: 50%;
    padding: 1rem;
    font-size: 1.1rem;
    margin-top: 1rem;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: #8396f6;
    color:white;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

.btn:hover{
    background-color: #5e79fc;
    cursor: pointer;
}