
.explore_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3rem;
    
    flex-wrap: wrap;
}
.explore_container img{
    width:20% ;
    /* flex: 1; */
    flex-grow: 1;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    transition: all .5s ease-in-out;
}

.explore_container img:hover{
    transform: scale(1.02);
    cursor: pointer;
}

.explore_head{
    font-size: 4rem;
    padding: 2rem;
    color: rgb(20, 123, 123);
    
}