.banner{
    background-image: url(/images/cover/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    line-height: 0.5rem;
}

.banner_head{
    font-size: 4.8rem;
    color: white;
    margin-left: 20rem;
}

.banner_para{
    font-size: 1.5rem;
    color: white;
    margin-left: 20rem;
}

.banner_btn{
    margin-left: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
   width: 60px;
   height: 60px;
   border-radius: 50%;
   border:none;
   outline: none;
   font-size: 3rem;
   color: #95A6FE;
   cursor: pointer;
}

@media screen and (max-width:1100px) {
    .banner_btn{
       width: 50px;
       height: 50px;
       margin-left: 0;
    }

    .banner{
        align-items: flex-start;
        padding: 2rem;
        /* gap: 2rem; */
        object-fit: cover;
    }

    .banner_head{
        font-size: 4rem;
        margin-left: 0;
    }
    
    .banner_para{
        font-size: 1.3rem;
        margin-left: 0;
    }
}

@media screen and (max-width: 500px) {
    .banner{
       gap: 1rem;
    }
    .banner_head{
        font-size: 3rem;
        margin-left: 0;
    }
    
    .banner_para{
        font-size: 1rem;
        margin-left: 0;
        width: 90%;
        line-height: 2rem;
    }
}